.task-card {
  border: 1px solid #ccc;
  margin: 8px;
  padding: 8px;
  border-radius: 4px;
}

.task-card button {
  margin-left: 8px;
  padding: 4px 8px;
  border: none;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}

.edit-button {
    background-color: #035caf;
}

.done-button {
    background-color: #4ad351;
}

.delete-button {
    background-color: #af0303;
}

.task-card button:hover {
  background-color: #747474;
}
